<form action="/users" method="POST">
  <label for="email">
    Enter your email address:
  </label>
  <input type="text" name="email" />
  <br/>
  <label for="password">
    Create your password:
  </label>
      <input type="password" name="password" />
  <input type="submit" value="Sign up" />
</form>
