<form action="/links" method="post">
  <label for="url">
    Enter the URL:
  </label>
  <input type="text" name="url" />
  <br />
  <label for="title">
    Enter the title:
  </label>
  <input type="text" name="title" />
  <input type="submit" value="Create link" />
</form>
